.homeBannerVideo {
    position: relative;
    /* height: calc(100vh + 768px); */
    overflow: visible;
    display: flex;
    justify-content: center;
    /* flex: 1; */
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.bannerVideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bannerImg{
    position: relative;
    overflow: hidden;
    /* margin-top: 460px; */
    /* margin-top: 90px; */
}

.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background-color: rgba(0, 0, 0, 40%);
    /* Adjust the overlay color and opacity */
}

.playBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    color: #fff;
    font-family: Montserrat;
    width: 353px;
    padding-block: 17px;
    background: rgb(0, 0, 0, 30%);
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.titleBox{
    height: 360px;
    position: relative;
    display: block;
    width: 100%;
}
.blackBannerContainer{
    /* position: relative; */
    overflow: hidden;
    display: flex;
    position:sticky;
    padding-bottom: 160px;
    padding-top: 220px;
}
.titleBlack {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-family: Lamore;
    font-size: 96px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 8%;
    color: #2C2A29;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    /* padding: 230px 0; */
    z-index: 0;
    position: relative;
}

.titleWhite{
    color: #fff;
    z-index: 1;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    /* top: 0; */
    top: -60px;
    text-transform: uppercase;
    font-family: Lamore;
    text-align: center;
    font-size: 96px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 8%;
    transform: translateY(-100%);
    /* transition: .5s; */
}

.breadCrumbs {
    position: absolute;
    top: 126px;
    left: 60px;
}

.breadCrumbsBox {
    display: flex;
    gap: 8px;
}

.Link {
    color: #fff;
    font-family: helvetica neue;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 3%;
    cursor: pointer;
    text-decoration: none;
}

.chevronRight {
    width: 16px;
    height: 16px;
}

.playSvg {
    width: 20px;
    height: 19px;
    margin-right: 7px;
}
.mobileHide{
    pointer-events: none;
}


@media (max-width: 1600px) {

    /* 1600 * 783 */
    .title {
        font-size: 86px;
        line-height: 95px;
    }
}

@media (max-width: 1400px) {

    /* 1366 * 768 */

    .title {
        font-size: 76px;
        line-height: 85px;
    }

    .breadCrumbs {
        top: 100px;
        left: 40px;
    }

}

@media (max-width: 1280px) {
    .title {
        font-size: 70px;
        line-height: 79px;
    }
}

@media (max-width: 1024px) {

}
@media (max-width: 992px) {
    .breadCrumbs {
        left: 20px;
    }
    .title {
        font-size: 55px;
        line-height: 61px;
    }
}
@media (max-width: 520px) {
    .mobileHide{
        display: none;
    }
    .title {
        font-size: 40px;
        line-height: 44px;
    }
}