.section {
    /* margin-block: 180px;
    padding-inline: 60px; */
    height: 50%;
}

/* .bgImg{
    width: 100%;
    height: auto;
} */
.title {
    font-family: Lamore;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 8%;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
}

.paragraph {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1%;
    color: #FFFFFF;
    width: 100%;
    max-width: 570px;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    /* background-image: url('/home/form-bg-image.svg'); 
    background-size: 100% 100%;
    background-size: cover !important;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    padding-block: 60px;
    /* padding-inline: 60px; */
    height: 100%;
    position: relative;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.titleContainer,
.formContainer {
    padding-inline: 60px;
    /* height: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (max-width: 1600px) {
    .title {
        font-size: 32px;
    }

    .paragraph {
        font-size: 10px;
        line-height: 140%;
        margin-top: 5px;
    }

    .container {
        padding-inline: 0px;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 1400px) {
    .title {
        font-size: 28px;
    }

    .paragraph {
        font-size: 10px;
        max-width: 510px;
    }

    .container {
        padding-block: 60px;
        padding-inline: 10px;
    }

    .section {
        /* margin-block: 120px;
        padding-inline: 30px; */
    }
}

@media (max-width: 1200px) {
    .title {
        font-size: 28px;
    }

    .container {
        padding-inline: 30px;
    }
}

@media (max-width: 1024px) {
    .section {
        /* margin-block: 90px;
        padding-inline: 20px; */
    }

    .container {
        display: block;
        padding-block: 60px;
        padding-inline: 20px;
    }

    .title {
        font-size: 26px;
    }

    .paragraph {
        font-size: 14px;
        margin-top: 20px;
    }

    .titleContainer,
    .formContainer {
        padding-inline: 0px;
    }

    .formContainer {
        padding-top: 60px;
        width: 100%;
        overflow: hidden;
    }
}