.container {
    width: 100%;
    max-width: 1064px;
    margin: auto;
}

.desc {
    color: #555960;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 40px;
    line-height: 150%;
}


@media (max-width: 1600px) {

    /* 1600 * 783 */
    .desc {
        padding-top: 35px;
    }
}

@media (max-width: 1400px) {

    /* 1366 * 768 */
    .container {
        max-width: 970px;
    }

    .desc {
        font-size: 14px;
        padding-top: 30px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 900px;
    }

    .desc {
        font-size: 14px;
        /* line-height: 22px; */
        padding-top: 25px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 800px;
    }

    .desc {
        padding-top: 20px;
    }
}
@media (max-width: 992px) {
    .container {
        padding-inline: 40px;
    }
}
@media (max-width: 520px) {
    .container {
        padding-inline: 20px;
    }
}