.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    display: flex;
    z-index: 1;
}
.carouselContainer {
    width: 60%;
    height: 100%;
}

.scrollableSection {
    width: 40%;
    height: 100%;
    overflow-y: auto;
}
/* width */
.scrollableSection::-webkit-scrollbar {
width: 3px;
}

/* Track */
.scrollableSection::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 10px;
}

/* Handle */
.scrollableSection::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
.scrollableSection::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.containerMobile{
    display: none;
}
@media (max-width: 992px) {
    .container{
        display: none;
    }
    .containerMobile{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        display: block;
        z-index: 1;
        overflow-y: auto;
    }
    .carouselContainerMobile{
        width: 100%;
        height: auto;
    }
    .scrollableSectionMobile{
        width: 100%;
        height: 100%;
    }
    /* width */
    .containerMobile::-webkit-scrollbar {
    width: 3px;
    }
    
    /* Track */
    .containerMobile::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    }
    
    /* Handle */
    .containerMobile::-webkit-scrollbar-thumb {
    background: #888; 
    }
    
    /* Handle on hover */
    .containerMobile::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }

    .closeBtnImage {
        width: 32px;
        height: 32px;
    }
    .infoSection {
        padding-block: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .closeBtnContainer {
        padding-bottom: 30px;
    }
    .title {
        font-size: 28px;
    }
    .descriptionDiv {
        padding-block: 30px;
    }
    .infoDiv {
        padding-block: 30px;
    }
    .infoImg {
        width: 91px;
        height: 91px;
    }
    .infoBox {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .carouselContainerMobile {
        width: 100%;
        height: auto;
        position: relative;
    }
    .scrollableSectionMobile {
        width: 100%;
        height: auto;
    }
}