

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat;
}

.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown:hover .react-tel-input .flag-dropdown:focus {
  background-color: unset !important;
  border: unset !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: unset !important;
  border: unset !important;
}
@font-face {
  font-family: 'Lamore';
  src: url('/fonts/lamore.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica neue';
  src: url('/fonts/helveticaneue.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input:invalid+span::before {
  content: "Please enter a valid value";
}
.react-tel-input .selected-flag .arrow {
  border-top: 4px solid #fff !important;
}
.PhoneInputCountryIcon--border {
  background-color: rgb(255 255 255 / 10%) !important;
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) rgb(255 253 253 / 50%), inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) rgb(255 255 255 / 50%) !important;
}
.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) rgb(255 253 253 / 50%), inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) rgb(255 255 255 / 50%) !important;
}
.PhoneInputCountrySelectArrow {
  color: white !important;
  font-size: 22px;
  width: 7px !important;
}
.PhoneInputInput{
  width: 100%;
  height: 54px;
  margin-bottom: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e1e3e4;
  font-size: 16px;
  color: white;
  padding: 10px 0;
  outline: none; 
  margin-left: 10px;
}
.PhoneInputInput::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.PhoneInputInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

.PhoneInputInput::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}
@media (max-width: 1600px) {
  .PhoneInputInput {
    height: 45px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}
@media (max-width: 1400px) {
  .PhoneInputInput {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1280px) {
  .PhoneInputInput {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .PhoneInputInput {
    /* height: 54px;
    margin-bottom: 20px; */
    height: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 375px){
  .PhoneInputInput {
    height: 48px;
    margin-bottom: 10px;
  }
}
.subTitleRight{
  text-align: right !important;
}
.errorRight{
  text-align: right !important;
}
.submitBtnRight{
  float: right !important;
}
.inputContainerRight input{
  text-align: right !important; 
}
.inputContainerRight .PhoneInputCountry{
  order : 1 !important;
}
.inputContainerRight .PhoneInputInput{
  margin-right: 15px;
  margin-left: 0px;
}
.PhoneInput{
  width: 100%;
}
.phoneCountryCodeRight{
  padding-left: 12px !important;
    order: 1 !important;
    padding-right: 0px !important;
}
.DownloadBTN {
  text-decoration: none;
}