/* Screen Size 1920 * 1080*/
.Main {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-image: url(/coming-soon-bg-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 0 0 / 50%);  */
  background-color: rgb(44 42 41 / 54%);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(5px);
}
.overlayWhite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 0 0 / 50%);  */
  background-color: rgb(235 235 235 / 22%);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(4px);
  pointer-events: none;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 32px;
}
.content {
  position: inherit;
  z-index: 1;
  width: 100%;
}
.Svg {
  position: absolute;
  padding-left: 50px;
  width: 90%;
  height: auto;
  padding-top: 115px;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thankBgSvgMobile {
  display: none;
}
.thankBgSvg {
  position: absolute;
  padding-left: 0px;
  height: auto;
  padding-top: 0px;
  object-fit: cover;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
}
.LogoImage {
  display: block;
  width: 110px;
  height: 24px;
  margin: auto;
}
.formSection {
  position: inherit;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
}
.columnForm {
  width: fit-content;
  /* padding-block: 19px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columnLogo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.companyImage {
  display: block;
  width: 300px;
  height: auto;
  margin: auto;
  margin-bottom: 60px;
}
.title {
  font-family: Lamore;
  color: white;
  /* font-size: 64px; */
  font-size: 40px;
  text-align: center;
  display: block;
}
.thankYouTitle {
  font-family: Lamore;
  color: white;
  /* font-size: 64px; */
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.subTitle {
  font-family: Montserrat;
  display: block;
  color: white;
  font-size: 14px;
  text-align: left;
}
.form {
  padding-top: 30px;
  width: 520px;
}
.submitBtn {
  display: block;
  font-size: 14px;
  margin-top: 40px;
  background-color: transparent;
  padding-block: 11px;
  padding-inline: 31px;
  text-align: left;
  color: white;
  border: 1px solid #e1e3e4;
  cursor: pointer;
  background: #ffffff1f;
  font-family: Montserrat;
}
.submitBtn:active {
  transform: scale(0.95);
}
.inputContainer {
  position: relative;
}
.inputAnimated {
  width: 100%;
  height: 54px;
  margin-bottom: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e1e3e4;
  font-size: 16px;
  color: white;
  padding: 10px 0;
  outline: none; /* Remove default focus outline */
}
.inputAnimated::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  font-family: Montserrat;
}

.inputAnimated:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: Montserrat;
}

.inputAnimated::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: Montserrat;
}
.inputPhone {
  padding-left: 50px;
  margin-bottom: 0px !important;
}
.inputAnimatedPhone {
  margin-bottom: 0px !important;
}
.inputAnimatedPhone:invalid + span::before {
  content: "Please enter a valid value";
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  font-family: Montserrat;
}
.languageBtn {
  position: fixed;
  top: 38px;
  font-size: 14px;
  right: 60px;
  color: white;
  background: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
.phoneContainer {
  display: flex;
  align-items: center;
}
.phoneCountryCode {
  color: white;
  font-size: 13px;
  padding-right: 12px;
}
.thankYouTitle {
  color: #175a7e !important;
}

.thankYoucompanyImage {
  margin-bottom: 30px;
  position: absolute;
  top: 100px;
}

/* responsive */
@media (max-width: 1600px) {
  .companyImage {
    margin-bottom: 30px;
    width: 300px;
    height: auto;
  }
  .logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .title {
    /* font-size: 57px; */
    font-size: 34px;
  }
  .thankYouTitle {
    /* font-size: 57px; */
    font-size: 34px;
  }
  .subTitle {
    font-size: 12px;
  }
  .form {
    padding-top: 30px;
    width: 450px;
  }
  .Svg {
    height: auto;
    padding-top: 90px;
  }
  .inputAnimated {
    height: 45px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .submitBtn {
    margin-top: 35px;
    padding-block: 10px;
    padding-inline: 30px;
  }
}
@media (max-width: 1400px) {
  .LogoImage {
    width: 77px;
    height: 17px;
  }
  .companyImage {
    margin-bottom: 25px;
    width: 200px;
    height: auto;
  }
  .title {
    /* font-size: 50px; */
    font-size: 29px;
  }
  .thankYouTitle {
    /* font-size: 50px; */
    font-size: 29px;
  }
  .form {
    padding-top: 20px;
    width: 397px;
  }
  .submitBtn {
    margin-top: 30px;
    padding-block: 8px;
    padding-inline: 22px;
    font-size: 12px;
  }
  .inputAnimated {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1280px) {
  .LogoImage {
    width: 77px;
    height: 17px;
  }
  .companyImage {
    margin-bottom: 30px;
    width: 220px;
    height: 157px;
  }
  .title {
    /* font-size: 45px; */
    font-size: 25px;
  }
  .thankYouTitle {
    /* font-size: 45px; */
    font-size: 25px;
  }
  .columnForm {
    /* padding-block: 10px; */
  }
  .form {
    padding-top: 15px;
    width: 357px;
  }
  .submitBtn {
    margin-top: 25px;
    padding-block: 8px;
    padding-inline: 22px;
    font-size: 12px;
  }
  .inputAnimated {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .LogoImage {
    width: 77px;
    height: 17px;
  }
  .Svg {
    display: none;
  }
  .thankBgSvgMobile {
    /* display: unset !important; */
    padding: 0;
  }
  .formSection {
    display: block;
    width: 100%;
  }
  .columnForm {
    margin: auto;
  }
  .columnLogo {
    margin: auto;
    margin-top: 0px;
  }
  .columnForm {
    padding-block: 0;
    /* padding-top: 80px; */
  }
  .title {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .thankYouTitle {
    font-size: 28px;
    /* margin-bottom: 50px; */
  }
  /* .logo {
    top: 0px;
    left: 40px;
    transform:none;
  } */
  .languageBtn {
    right: 40px;
  }
}
@media (max-width: 480px) {
  .LogoImage {
    width: 110px;
    height: 24px;
  }
  .logo {
    padding-top: 20px;
  }
  .companyImage {
    /* width: 206px;
      height: 147px; */
    width: 160px;
    height: 114px;
    margin-bottom: 0;
  }
  .thankYoucompanyImage {
    margin-bottom: 30px;
    position: absolute;
    top: 100px;
  }
  .title {
    /* font-size: 32px; */
    font-size: 22px;
    padding-inline: 20px;
    margin-block: 50px;
  }
  .thankYouTitle {
    /* font-size: 32px; */
    font-size: 22px;
    padding-inline: 20px;
    /* margin-block: 50px; */
  }
  .subTitle {
    font-size: 14px;
    line-height: 28px;
  }
  .form {
    width: 350px;
    padding-top: 10px;
  }
  .submitWrapper {
    display: flex;
    justify-content: center;
  }
  .submitBtn {
    margin-top: 20px;
  }
  .inputAnimated {
    height: 40px;
    margin-bottom: 10px;
  }
  /* .logo {
    top: 0px;
    left: 20px;
  } */
  .languageBtn {
    top: 26px;
    right: 25px;
  }
  .thankBgSvg {
    display: none;
  }
  .thankBgSvgMobile {
    display: block;
    position: absolute;
    padding-left: 0px;
    height: auto;
    padding-top: 0px;
    object-fit: cover;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 380px) {
  .LogoImage {
    width: 110px;
    height: 24px;
  }
  .logo {
    padding-top: 20px;
  }
  .companyImage {
    /* width: 206px;
      height: 147px; */
    width: 160px;
    height: 114px;
    margin-bottom: 0;
  }
  .thankYoucompanyImage {
    margin-bottom: 30px;
    position: absolute;
    top: 100px;
  }
  .title {
    /* font-size: 32px; */
    font-size: 16px;
    padding-inline: 20px;
    margin-block: 50px;
  }
  .thankYouTitle {
    /* font-size: 32px; */
    font-size: 16px;
    padding-inline: 20px;
    /* margin-block: 50px; */
  }
  .subTitle {
    font-size: 14px;
    line-height: 28px;
  }
  .form {
    width: 350px;
    padding-top: 10px;
  }
  .submitWrapper {
    display: flex;
    justify-content: center;
  }
  .submitBtn {
    margin-top: 20px;
  }
  .inputAnimated {
    height: 40px;
    margin-bottom: 10px;
  }
  /* .logo {
    top: 0px;
    left: 20px;
  } */
  .languageBtn {
    top: 26px;
    right: 25px;
  }
  .thankBgSvg {
    display: none;
  }
  .thankBgSvgMobile {
    display: block;
    position: absolute;
    padding-left: 0px;
    height: auto;
    padding-top: 0px;
    object-fit: cover;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .thankYouTitle {
    /* font-size: 32px; */
    font-size: 14px;
    padding-inline: 20px;
    /* margin-block: 50px; */
  }
}

@media (max-width: 280px) {
  .thankYouTitle {
    /* font-size: 32px; */
    font-size: 10px;
    padding-inline: 20px;
    /* margin-block: 50px; */
  }
}

@media (max-width: 215px) {
  .thankYouTitle {
    /* font-size: 32px; */
    font-size: 8px;
    padding-inline: 20px;
    /* margin-block: 50px; */
  }
}
.tYLogoImage {
  width: 110px;
  height: 24px;
}
.tYlogo {
  position: absolute;
  bottom: 100px;
}
