.ContainImage{
    width: 100%;
    height: auto;
}
.CarouselBtnDiv{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}
.CarouselBtn{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-inline: 8px;
}
.CarouselBtnIcon{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.CarouselBtnDiv{
    height: 300px;
    background: linear-gradient(0deg, rgb(44 42 41), rgb(255 255 255 / 0%));
    width: 100%;
}
.CarouselBtns{
    position: absolute;
    bottom: 60px;
    right: 60px;
}

@media (max-width: 992px) {
    .ContainImage {
        width: 100%;
        height: 786px;
        object-fit: cover;
    }
    .CarouselBtnDiv{
        height: 100px;
    }
    .CarouselBtns{
        bottom: 30px;
        right: 10px;
    }
}