.imageContainer {
    position: relative;
    width: 427px;
    height: 342px;
    cursor: pointer;
}

.title {
    position: absolute;
    font-family: Lamore;
    font-size: 32px;
    line-height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 400px;
    word-wrap: break-word;
    white-space: break-spaces;
    text-align: center;
}

@media (max-width: 1600px) {
    .imageContainer {
        position: relative;
        width: 237px;
        height: 190px;
        cursor: pointer;
    }

    .title {
        font-size: 26px;
        max-width: 220px;
        word-wrap: break-word;
        white-space: break-spaces;
    }
}

@media (max-width: 992px) {
    .imageContainer {
        position: relative;
        width: 206px;
        height: 165px;
        cursor: pointer;
    }

    .title {
        font-size: 20px;
        max-width: 180px;
        word-wrap: break-word;
        white-space: break-spaces;
    }
}