.section {
    padding-block: 180px;
}

.CarouselContainer {
    padding-top: 180px;
    position: relative;
    padding-bottom: 40px;
}

.ContainImage {
    width: 100%;
    height: 980px;
}
.image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: height 0.8s ease-in-out;
}

.CarouselBtnDiv {
    position: absolute;
    bottom: -60px;
    right: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 215px;
}

.CarouselBtn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-inline: 8px;
}

.CarouselBtnIcon {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.CarouselBtnDiv {
    height: 40px;
    width: 100%;
}

/* .CarouselBtns{
    position: absolute;
    bottom: 0px;
    right: 0px;
} */
.Carouseltitle {
    font-family: Lamore;
    font-size: 32px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 4%;
    color: #2C2A29;
    text-transform: uppercase;
}


@media (max-width: 1600px) {

    /* 1600 * 783 */
    .section {
        padding-block: 120px;
    }
    .CarouselContainer {
        padding-top: 120px;
    }

    .ContainImage {
        height: 682px;
    }

    .Carouseltitle {
        font-size: 30px;
        line-height: 31px;
    }
    .CarouselBtnDiv{
        padding-inline: 195px;
    }
}

@media (max-width: 1400px) {

    /* 1366 * 768 */
    .ContainImage {
        height: 667px;
    }

    .Carouseltitle {
        font-size: 28px;
        line-height: 29px;
    }
    .CarouselBtnDiv{
        padding-inline: 165px;
    }
}

@media (max-width: 1280px) {
    .Carouseltitle {
        font-size: 26px;
        line-height: 27px;
    }
    .CarouselBtnDiv{
        padding-inline: 115px;
    }
}

@media (max-width: 1024px) {
    .section {
        padding-block: 100px;
    }
    .CarouselContainer {
        padding-top: 100px;
    }

    .ContainImage {
        height: 500px;
    }

    .Carouseltitle {
        font-size: 24px;
        line-height: 25px;
    }
}


@media (max-width: 992px) {
    .ContainImage {
        height: 625px;
    }

    .CarouselBtnDiv {
        height: 107px;
    }
    .CarouselBtn {
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        margin-inline: 4px;
    }

    .CarouselBtns {
        bottom: 30px;
        right: 10px;
    }
    .section {
        padding-block: 90px;
    }
    .CarouselContainer {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .CarouselBtnDiv{
        padding-inline: 57px;
    }
}
@media (max-width: 520px) {
    .CarouselBtnDiv{
        padding-inline: 37px;
    }
}
@media (max-width: 450px) {
    .CarouselBtnDiv{
        padding-inline: 27px;
    }
}
@media (max-width: 390px) {
    .Carouseltitle {
        font-size: 20px;
        line-height: 22px;
    }
}