.BgAnimation{
    position: absolute;
    top: 0%;
    left: -30%;
    width: 100%;
    height: auto;
    z-index: -1;
}
@media (max-width: 480px) {
    .BgAnimation{
        top: 0%;
        left: -150%;
        width: 300%;
    }
}