.shareListIcon{
    width: 20px;
    height: 20px;
    margin-right: 12px;
}
.shareListBox{
    display: flex;
    font-family: Montserrat !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.01em !important;
    text-align: left;
    color: #FFF !important;
    align-items: center;
    margin-bottom: 13px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.shareListBox:last-child{
    margin-bottom: 0px;
}
.shareListContanier{
    background-color: #2C2A29;
    padding: 10px;
    margin-top: -175px;
    width: fit-content;
    position: absolute;
    z-index: 100;
}
.shareButtonContanier{
    position: relative;
}
@media (max-width: 1400px) {
    .shareListContanier{
        margin-inline: 50px;
    }
}
@media (max-width: 1200px) {
    .shareListContanier{
        margin-inline: 40px;
    }
}
@media (max-width: 992px) {
    .shareListContanier{
        margin-inline: 20px;
    }
}
@media (min-width: 1920px) {
    .categoryboxs {
            /* display: flex;
            justify-content: space-between;
            gap: 20px; */
            width: 700px;
        }
}
.categorybox {
    /* display: flex;
    justify-content: space-between;
    gap: 20px; */
}
.categoryboxs {
    padding-inline: 0;
}