.image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imageContainer {
    position: relative;
    width: 427px;
    height: 342px;
    cursor: none;
    display: block;
    overflow: hidden;
    margin-right: 30px;
}

.title {
    position: absolute;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 130%;
    bottom: 30px;
    left: 30px;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
    white-space: break-spaces;
    padding-right: 20px;
}

.overlay {
    height: 86px;
    background: linear-gradient(0deg, rgb(44 42 41), rgb(255 255 255 / 0%));
    width: 100%;
    position: absolute;
    bottom: 0;
}

.animatedButton {
    width: 100px;
        height: 100px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    background: rgb(0, 0, 0, 30%);
    border: none;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: none; */
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 3;
    transition: opacity 0.3s ease, transform 0.1s ease;
}

.imageContainer:hover .animatedButton {
    opacity: 1;
}

.squareIcon {
    width: 5px;
    height: 5px;
    background: #fff;
    margin-right: 5px;
}
@media (max-width: 1600px) {
    .imageContainer {
        position: relative;
        width: 237px;
        height: 190px;
        /* cursor: none; */
    }

    .title {
        font-size: 16px;
        bottom: 15px;
        left: 15px;
        max-width: 220px;
        word-wrap: break-word;
        white-space: break-spaces;
    }
}

@media (max-width: 992px) {
    .imageContainer {
        position: relative;
        width: 206px;
        height: 165px;
        cursor: none;
    }

    .title {
        font-size: 14px;
        bottom: 10px;
        left: 10px;
        max-width: 180px;
        word-wrap: break-word;
        white-space: break-spaces;
    }
}
.imageContainer {
    cursor: pointer !important;
}